body {
    background-color: rgb(21, 21, 22);
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
    overflow-x: hidden;
}

.bg-information {
    display: inline-block;
}


h1.title-heading {
    color: whitesmoke;
    font-size: 50px;
    margin-left: 1.5em;
    margin-bottom: 0px;
}

h1.title-heading:first-of-type {
    margin-top: 3.5em;
}

p.description {
    color: whitesmoke;
    font-size: 20px;
    margin-left: 3.8em;
    margin-top: -10px;
}

.login-form {
    background-color: rgb(24, 24, 24);
    float: right;
    width: 550px;
    height: 657px;
    transition: 250ms ease-in-out;
    border-left: 1px solid #21232c;
}

h1.login-title {
    color: #f8f8f2;
    font-size: 41px;
    margin-left: 1em;
    margin-top: 2em;
    margin-bottom: 0px;
}

h2.persuasive-description {
    font-weight: 300;
    font-size: 18px;
    color: rgb(197, 196, 196);
    margin-left: 2.3em;
    width: 450px;
    margin-top: 0px;
}

.form-container {
    margin-left: 4em;
    margin-top: 3em;
}

p.input-label {
    color: gainsboro;
    font-weight: 300;
    margin-bottom: 0px;
}

input.information-input {
    background-color: rgb(20, 20, 20);
    border: 1px solid rgb(51, 51, 51);
    border-radius: 30px;
    transition: 250ms ease-in-out;
    color: gainsboro;
    padding: 5px 10px 5px 10px;
    font-family: 'Poppins', sans-serif;
    width: 350px;
}

input.information-input:focus {
    outline: none;
  	border: 1px solid rgb(133, 133, 133);
}

a.forgot-password {
    text-decoration: none;
    margin-top: 8px;
    font-size: 15px;
    color: dimgray;
    margin-left: 4px;
    transition: 250ms ease-in-out;
}

a.forgot-password:hover {
    color: gainsboro;
}

.login-button {
    background-color: rgb(20, 20, 20);
    width: max-content;
    border-radius: 50px;
    margin-top: 1em;
    border: 1px solid rgb(51, 51, 51);
    transition: 250ms ease-in-out;
}

h3.login-text {
    color: rgb(202, 201, 201);
    font-weight: 500;
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 7px 2em 7px 2em;
    transition: 250ms ease-in-out;
}

.login-button:hover {
    background-color: rgb(36, 36, 36);
}

h3.login-text {
    color: whitesmoke;
}

.login-content-container {
    width: 600px;
    
}