body {
    margin: 0 auto;
}

.top-div {
    background: rgb(45,40,62);
    background: linear-gradient(90deg, rgb(38, 37, 41) 0%, rgb(23, 23, 24) 100%);
    height: 370px;
    overflow: hidden;
}

.name-text {
    font-family: 'Staatliches', cursive;
    color: gainsboro;
    font-size: 100px;
    margin-left: 80px;
    line-height: 0.8;
    margin-bottom: 0px;
}

p.description-p {
    font-family: 'Jost', sans-serif;
    margin-left: 80px;
    color: gainsboro;
    font-size: 40px;
    margin-top: 0px;
}

img.Main {
    filter: drop-shadow(10px 10px 4px #000);
    right:120px;
    bottom: 150px;
    border-radius: 50%;
    border: 1px solid #232323;
    background-color: #3a3a43;
    float: right;
    position: relative;
    margin-top: -120px;
}

h1.text-heading {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 75px;
    text-decoration: underline;
    text-underline-position: under;
    margin-left: 65px;
    margin-bottom: 0px;
}

p.text-description {
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    margin-left: 65px;
}

h2.text-border {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 75px;
    text-align: center;
    line-height: 0.1;
}

.half-section-div {
    overflow: hidden;
    background: rgb(45,40,62);
    background: linear-gradient(90deg, rgb(38, 37, 41) 0%, rgb(23, 23, 24) 100%);
    margin-top: 50px;
}

h1.heading-flipped {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 75px;
    text-decoration: underline;
    text-underline-position: under;
    margin-bottom: 0px;
    color: whitesmoke;
    margin-right: 80px;
    text-align: left;
    margin-left: 80px;
}

p.text-center {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: gainsboro;
    margin-right: 80px;
    margin-left: 80px;
    text-align: left;
}

.container::after {
    content: "";
    display: table;
    clear: both;
}

.item-container {
    float: left;
    width: 48.5%;
    padding: 10px;
    margin-bottom: 15px;
}
